.employee-form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.employee-form div:not(:last-child) {
    margin-bottom: 20px;
}

.employee-form .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-form + * {
    margin-top: 30px;
}

table {
    width: 100%;
}

table .actions button:not(:last-child){
    margin-right: 10px;
}
table img.profile {
    height: 50px
}
table tr:not(:last-child) {
    margin-bottom: 10px;
}
table thead {
    margin-bottom: 10px;
}